<div class="container theme-showcase" role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <% if (msg) {%>
    <div class="alert alert-success">
        <%= msg %>
    </div>
  <% } %>

  <div class="jumbotron">
    <% if (user == null) { %>
        <h1>Welcome to MyBlog</h1>
        <p>NodeJS + Node-Express + MongoDB + EJS + Q = MyBlog :D</p>
        <a href="/login" class="btn btn-success">Login</a>
        <a href="/reg" class="btn btn-primary">Register</a>
    <% } else { %>
        <form class="form-inline" role="form" method="post" action="/publish">
          <div class="form-group">
              <input type="text" name="message" class="form-control" id="post" placeholder="Enter message">
          </div>
          <button type="submit" class="btn btn-default">post</button>
        </form>
    <% } %>
  </div>

  <div class="page-header">
    <h1>What people are saying</h1>
  </div>

  <% include post %>

</div> <!-- /container -->
