<div class="container theme-showcase" role="main">
    <form class="form-register" role="form">
            <h2 class="form-register-heading">Please register</h2>
            <input type="text" class="form-control" placeholder="Username" required="" autofocus="">
            <input type="email" class="form-control" placeholder="Email address" required="" autofocus="">
            <input type="password" class="form-control" placeholder="Password" required="">
            <hr>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
</div>
